* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #09090a;
    --main-color: #4863f7;
    --second-color: #ffffff;
    --text-hover-color: #fff;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.content-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    border-radius: 50%;
    border: 1px solid var(--main-color);
    padding: 4px;
    max-width: 220px;
    transition: all 0.2s linear;
}

.profile-photo:hover img {
    padding: 0;
    border: 0;
}

.profile-photo {
    border-radius: 50%;
}

.username {
    color: var(--second-color);
    margin: 15px auto 30px auto;
    transition: all 0.2s linear;
    text-decoration: none;
}

.username:hover {
    text-decoration: underline;
}

.button {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    width: 300px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all 0.2s linear;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: var(--main-color);
    color: var(--text-hover-color);
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    margin: 0 8px;
    transition: all 0.2s linear;
    color: var(--second-color);
    font-size: 20px;
}

.social-links a:hover {
    color: var(--main-color);
}