* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF7FD;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.content-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    border-radius: 50%;
    border: 1px solid #BB99DD;
    padding: 4px;
    max-width: 220px;
    transition: all 0.2s linear;
}

.profile-photo:hover img {
    padding: 0;
    border: 0;
}

.profile-photo {
    border-radius: 50%;
}

.username {
    color: #BB99DD;
    margin: 15px auto 30px auto;
    transition: all 0.2s linear;
    text-decoration: none;
}

.username:hover {
    text-decoration: underline;
}

.button {
    background-color: transparent;
    border: 2px solid #BB99DD;
    color: #BB99DD;
    width: 300px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all 0.2s linear;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #BB99DD;
    color: #fff;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    margin: 0 8px;
    transition: all 0.2s linear;
}

.social-links a:hover {
    opacity: 0.8;
}